.details-container {
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.client-card {
    position: relative;
    width: 60%;
    background-color: #001d3d;
    border: 2px solid black;
    border-radius: 12px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 60px;
}
.header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    align-self: center;
}
.links-container {
    width: 100%;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid black;
}
a { 
    text-decoration: none;
    color: #fff; 
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 12px;
    margin: 2px;
    background-color: #131313;
    font-size: 1rem;
    }
img {
    border-radius: 15px;
    display: inline-block;
}

.close-form {
    width: unset;
    justify-self: flex-start;
    position: absolute;
    left: 10px;
    top: 10px;
}