* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style:none; 
}
.actions-list {
    background: linear-gradient(to right,rgba(0,1,1,0.8), #780000);
    display: flex; 
    justify-content:space-around;
    font-size: 2rem;
    color: white;
    padding: 20px 0;
}

.client-item {
    border: 2px solid black;
    border-radius: 12px;
}